---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: apichecks.k8s.checklyhq.com
spec:
  group: k8s.checklyhq.com
  names:
    kind: ApiCheck
    listKind: ApiCheckList
    plural: apichecks
    singular: apicheck
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Name of the monitored endpoint
      jsonPath: .spec.endpoint
      name: Endpoint
      type: string
    - description: Expected status code
      jsonPath: .spec.success
      name: Status code
      type: string
    - jsonPath: .spec.muted
      name: Muted
      type: boolean
    - jsonPath: .spec.group
      name: Group
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ApiCheck is the Schema for the apichecks API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ApiCheckSpec defines the desired state of ApiCheck
            properties:
              assertions:
                description: Assertions define the validation conditions for the check
                items:
                  description: |-
                    EDIT THIS FILE!  THIS IS SCAFFOLDING FOR YOU TO OWN!
                    NOTE: json tags are required.  Any new fields you add must have json tags for the fields to be serialized.
                  properties:
                    comparison:
                      description: Comparison operation (e.g., EQUALS, NOT_NULL, etc.)
                      type: string
                    property:
                      description: Property to validate, e.g., a JSONPath expression
                        like $.result (optional)
                      type: string
                    source:
                      description: Source of the assertion (e.g., STATUS_CODE, JSON_BODY,
                        etc.)
                      type: string
                    target:
                      description: Target value for the comparison (optional)
                      type: string
                  required:
                  - comparison
                  - source
                  type: object
                type: array
              body:
                description: Body defines the request payload for the check
                type: string
              bodyType:
                description: BodyType specifies the format of the request payload,
                  e.g., json, graphql, raw data (default is NONE)
                type: string
              endpoint:
                description: Endpoint determines which URL to monitor, ex. https://foo.bar/baz
                type: string
              frequency:
                description: Frequency is used to determine the frequency of the checks
                  in minutes, default 5
                type: integer
              group:
                description: Group determines in which group does the check belong
                  to
                type: string
              maxresponsetime:
                description: MaxResponseTime determines what the maximum number of
                  miliseconds can pass before the check fails, default 15000
                type: integer
              method:
                description: Method defines the HTTP method to use for the check,
                  e.g., GET, POST, PUT (default is GET)
                type: string
              muted:
                description: Muted determines if the created alert is muted or not,
                  default false
                type: boolean
              success:
                description: Success determines the returned success code, ex. 200
                type: string
            required:
            - endpoint
            - group
            type: object
          status:
            description: ApiCheckStatus defines the observed state of ApiCheck
            properties:
              groupId:
                description: GroupID holds the ID of the group where the check belongs
                  to
                format: int64
                type: integer
              id:
                description: ID holds the checklyhq.com internal ID of the check
                type: string
            required:
            - groupId
            - id
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
