---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: alertchannels.k8s.checklyhq.com
spec:
  group: k8s.checklyhq.com
  names:
    kind: AlertChannel
    listKind: AlertChannelList
    plural: alertchannels
    singular: alertchannel
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AlertChannel is the Schema for the alertchannels API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AlertChannelSpec defines the desired state of AlertChannel
            properties:
              email:
                description: Email holds information about the Email alert configuration
                properties:
                  address:
                    type: string
                required:
                - address
                type: object
              opsgenie:
                description: OpsGenie holds information about the Opsgenie alert configuration
                properties:
                  apisecret:
                    description: APISecret determines where the secret ref is to pull
                      the OpsGenie API key from
                    properties:
                      apiVersion:
                        description: API version of the referent.
                        type: string
                      fieldPath:
                        description: 'If referring to a piece of an object instead
                          of an entire object, this string should contain a valid
                          JSON/Go field access statement, such as desiredState.manifest.containers[2].
                          For example, if the object reference is to a container within
                          a pod, this would take on a value like: "spec.containers{name}"
                          (where "name" refers to the name of the container that triggered
                          the event) or if no container name is specified "spec.containers[2]"
                          (container with index 2 in this pod). This syntax is chosen
                          only to have some well-defined way of referencing a part
                          of an object. TODO: this design is not final and this field
                          is subject to change in the future.'
                        type: string
                      kind:
                        description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                        type: string
                      name:
                        description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                        type: string
                      namespace:
                        description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                        type: string
                      resourceVersion:
                        description: 'Specific resourceVersion to which this reference
                          is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                        type: string
                      uid:
                        description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                        type: string
                    type: object
                    x-kubernetes-map-type: atomic
                  priority:
                    description: Priority assigned to the alerts sent from checklyhq.com
                    type: string
                  region:
                    description: Region holds information about the OpsGenie region
                      (EU or US)
                    type: string
                required:
                - apisecret
                type: object
              sendfailure:
                description: SendFailure determines if the Failure event should be
                  sent to the alerting channel
                type: boolean
              sendrecovery:
                description: SendRecovery determines if the Recovery event should
                  be sent to the alert channel
                type: boolean
            type: object
          status:
            description: AlertChannelStatus defines the observed state of AlertChannel
            properties:
              id:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                format: int64
                type: integer
            required:
            - id
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
